{{ log_path }} {
    daily
    rotate {{ log_rotate }}
    compress
    missingok
    notifempty
    create 0644 {{ app_user }} {{ app_user }}
    postrotate
        echo "Logs rotados {{ inventory_hostname }}" > /tmp/logrotate-done
    endscript
}
