{{ log_path | default('/var/log/telcel/*.log') }} {
    daily
    rotate {{ log_rotate | default(7) }}
    compress
    missingok
    notifempty
    create 0644 {{ app_user }} {{ app_user }}
    postrotate
        echo "Logs rotados {{ inventory_hostname }}" > /tmp/logrotate-done
    endscript
}
