Listen {{ httpd_port }}
ServerName {{ httpd_server_name }}
DocumentRoot /var/www/telcel

<VirtualHost *:{{ httpd_port }}>
    ServerAdmin {{ httpd_server_admin }}
    ServerName {{ httpd_server_name }}
    DocumentRoot /var/www/telcel
    ErrorLog /var/log/httpd/telcel-error.log
    CustomLog /var/log/httpd/telcel-access.log combined
    # Host: {{ inventory_hostname }} - IP: {{ ansible_facts['default_ipv4']['address'] | default(ansible_host) }}
    # Grupos: {{ group_names | join(',') }}
</VirtualHost>
